<main id="chat">
    <app-chat-sidebar [data]="chats"></app-chat-sidebar>
    <div id="chat-container">
        <div id="chat-header">
            <h3>Reasoning Chatbot</h3>
            <a href="/profile" (click)="openProfile($event)" class="linkButton" target="_self">Profile</a>
        </div>

        <div id="chat-messages">
            <div *ngIf="chat == undefined || chat.length === 0" class="chat-hero">
                <h2>What can I help with?</h2>
                <h4>You can choose between different models by clicking the top left corner</h4>
            </div>
            <div *ngIf="chat && chat.length > 0" id="chat-messages-container">
                <div *ngFor="let message of chat" class="chat-message">
                    <div [ngClass]="'chat-message-content ' + message.role">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="chat-input">
            <input type="text" placeholder="Type a message..." />
            <button>Send</button>
        </div>
    </div>
</main>