<main id="chat">
    <app-chat-sidebar [data]="chats"></app-chat-sidebar>
    <div id="chat-container">
        <div id="chat-header">
            <h3>Reasoning Chatbot</h3>
            <a href="/profile" (click)="openProfile($event)" class="linkButton" target="_self">Profile</a>
        </div>

        <div id="chat-messages">
            <div *ngIf="chat == undefined || chat.length === 0" class="chat-hero">
                <h2>What can I help with?</h2>
                <h4>You can choose between different models by clicking the top left corner</h4>
            </div>
            <div *ngIf="chat && chat.length > 0" id="chat-messages-container">
                <div *ngFor="let message of chat" class="chat-message">
                    <div [ngClass]="'chat-message-content ' + message.role">
                        <p>{{ message.content }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="chat-input">
            <input type="text" placeholder="Type a message..." [(ngModel)]="messageContent" (keydown.enter)="sendMessage()" />
            <button (click)="sendMessage()">
                <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
            </button>
        </div>
    </div>
</main>