#chat {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-y: hidden;
}

#chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    height: 100dvh;
    max-height: 100dvh;
}

#chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 12px;
}

#chat-header > h3 {
    margin: auto 12px;
    transition: all .3s ease-in-out;
}

#chat-messages {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: auto;
}

.chat-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat-hero > h2 {
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
}

.chat-hero > h4 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
}

#chat-messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    margin-top: -12px;
}

#chat-header-buttons {
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all .3s ease-in-out;
}

#chat-header-buttons button {
    background-color: transparent;
}

.chat-message {
    width: 100%;
    height: fit-content;
    margin: 12px 0;
}

.chat-message:last-child {
    padding-bottom: 72px;
}

.chat-message p {
    margin: 0;
    line-height: 1.5;
}

.chat-message > .system {
    display: none;
}

.chat-message > .assistant {
    width: 100%;
}

.chat-message > .user {
    width: fit-content;
    max-width: 70%;
    padding: 12px 24px;
    margin-left: auto;
    text-align: left;
    background-color: #00000021;
    border-radius: 12px;
}

#chat-input {
    width: 750px;
    max-width: 80%;
    margin: 12px auto;
    margin-top: 0;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    background-color: #00000021;
    border-radius: 12px;
    height: fit-content;
}

#chat-input > textarea {
    flex-grow: 1;
    border: 1px solid #00000021;
    resize: none;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    /* box-sizing: border-box; */
    overflow-y: auto;
    max-height: calc(7 * 1.2rem);
}

#chat-input > textarea:focus {
    outline: none;
}

#chat-input > button {
    padding: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #00000021;
    cursor: pointer;
    align-self: center;
    transition: all .2s ease-in-out;
}

#chat-input > button > svg {
    transform: translate(.5px);
    stroke-width: 1px;
    stroke: black;
}

#chat-input > button:hover {
    background-color: #00000042;
    transform: scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 4px 20px rgba(0, 0, 0, 0.19);
}

#chat-input > button:active {
    transform: scale(0.9);
    box-shadow: none;
    transition: transform 0.1s ease-in-out;   
}