<main id="chat">
    <app-chat-sidebar [ngStyle]="{'transition': 'all .3s ease-in-out', 'margin-left': sidebarOpen ? '0' : '-250px'}" [data]="chats"></app-chat-sidebar>
    <div id="chat-container">
        <div id="chat-header">
            <div [ngStyle]="{'transform': sidebarOpen ? 'translateX(100px)' : 'none'}" id="chat-header-buttons">
                <button (click)="toggleSidebar()">
                    <svg height="24" viewBox="0 0 24 24" width="24"><path d="m20 3h-16c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h6 2 8c1.103 0 2-.897 2-2v-14c0-1.103-.897-2-2-2zm-16 16v-12h6v12zm8 0v-12h8v-2l.002 14z"/><path d="m6 10h2v2h-2zm0 4h2v2h-2z"/></svg>
                </button>
                <button onclick="window.location.href = '/chat'">
                    <svg fill="none" height="24" viewBox="0 0 24 24" width="24"><g stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="m16.4745 5.40801 2.1172 2.11723m-.7559-3.98235-5.7272 5.72716c-.2955.29557-.497.67201-.579 1.08185l-.5296 2.6481 2.6481-.5296c.4098-.082.7863-.2835 1.0818-.579l5.7272-5.72717c.7239-.72386.7239-1.89747 0-2.62133s-1.8975-.72387-2.6213-.00001z"/><path d="m19 15v3c0 1.1046-.8954 2-2 2h-11c-1.10457 0-2-.8954-2-2v-11c0-1.10457.89543-2 2-2h3"/></g></svg>
                </button>
            </div>
            <h3 [ngStyle]="{'transform': !sidebarOpen ? 'translateX(100px)' : 'none'}">Reasoning Chatbot</h3>
            <a href="/profile" (click)="openProfile($event)" class="linkButton" target="_self">Profile</a>
        </div>

        <div id="chat-messages">
            <div *ngIf="chat == undefined || chat.length === 0" class="chat-hero">
                <h2>What can I help with?</h2>
                <h4>You can choose between different models by clicking the top left corner</h4>
            </div>
            <div *ngIf="chat && chat.length > 0" id="chat-messages-container">
                <div *ngFor="let message of chat" class="chat-message">
                    <div [ngClass]="'chat-message-content ' + message.role">
                        <markdown *ngIf="message.role == 'assistant'" [data]="message.content"></markdown>
                        <p *ngIf="message.role == 'user'">{{ message.content }}</p>
                    </div>
                </div>

                <div *ngIf="assistantMessage.content">
                    <div class="chat-message">
                        <div class="chat-message-content assistant">
                            <markdown [data]="assistantMessage.content"></markdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="chat-input">
            <textarea type="text" placeholder="Type a message..." rows="1" [(ngModel)]="messageContent" (keydown.enter)="sendMessage()" (input)="adjustTextareaHeight($event)"></textarea>
            <button (click)="sendMessage()">
                <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                </svg>
            </button>
        </div>
    </div>
</main>