body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(33, 33, 33);
  color: #ececec;
}

p {
    line-height: 1.8rem;
}

ul, ol {
    line-height: 2.5rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

button.primary {
    background: #007bff;
    color: white;
}

button.primary:hover {
    background: #0056b3 !important;
}

button.secondary {
    background: #6c757d;
    color: white;
}

button.secondary:hover {
    background: #545b62 !important;
}

button.register {
    background: #28a745;
    color: white;
}

button.register:hover {
    background: #218838;
}

.linkButton {
    background: transparent;
    color: black;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 6px 24px;
    border: 1px solid black;
    border-radius: 50px;
    transition: all .15s ease-in-out;
}

.linkButton:hover {
    background: black;
    color: white;
    border-color: white;
}

pre code {
    background: rgb(13, 13, 13) !important;
    display: block;
    border-radius: 8px;
    padding: 13px;
    color: #ccc;
    line-height: 1.3rem;
    font-size: 0.9rem;
}

/* Custom scrollbar styles for pre code */
pre code::-webkit-scrollbar {
    height: 5px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
}