<div class="login-container">
    <h2>Login</h2>
    
    <form (ngSubmit)="register()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>